body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "inter", sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff8e7;
    border: solid black;
}

#visa_varukorg{
    height: 70%;
    width: 10%;
    margin-top:4% ;
    border: hidden;
    background-image: url(./img/Kundvagn.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff8e7;
}

#varukorg_div{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 80%;
    width: 20%;
    padding: 1%;
    border: solid black;
    border-radius: 2%;
    background-color: aliceblue;
}

#vaurkorg_produkter{
    border: solid black;
}

#varukorg_stäng{
    background-color: red;
    width: 20%;
}

main{
    background-image: linear-gradient(#FF4427, #652D2D);
}

footer{
    color: white;
    background: #5F2121;
    bottom: 0;
    width: 100%;
}

.produkt{
    background: white;
    border-radius: 3%;
}


/* Mobil */
@media screen and (max-width: 767px){
    header{
        justify-content: center;
        height: 10vh;
    }
    #butiknamn{
        margin: auto;
        margin-right: 20%;
    }
    #logga{
        display: none;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 75vh;
        overflow-y: scroll;
    }
    .produkt{
        width: 70vw;
        margin: 10px; 
    }
    footer{
        height: 15vh;
    }
}

/* Laptop */
@media screen and (min-width: 767px)and (max-width: 1023px){
    header{
        justify-content: space-evenly;
    }
    main{
        height: 65vh;
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 33vh 33vh 33vh;
        gap: 10px;
        justify-content: space-evenly;
        overflow-y: scroll;
    }
    .produkt
    {
        margin: 10px;
        height: 200px;
    }
    #visa_varukorg
    {
        height: 100px;

    }
}


/* Dator */
@media screen and (min-width: 1024px) {
    header{
        height: 20vh;
        justify-content: space-evenly;
    }
    main{
        height: 60vh;
        display: grid;
        grid-template-columns: 25vw 25vw 25vw;
        grid-template-rows: 25vh 25vh;
        gap: 4%;
        align-content: center;
        justify-content: center;
    }
}
