body{
    margin: 0;
}

header{
    background-color: #fff8e7;
    border: solid black;
}

main{
    background-image: linear-gradient(#FF4427, #652D2D);
}


/* Mobil */
@media screen and (max-width: 767px){
    body{
        display: flex;
        flex-direction: column;
    }
    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 10vh;
    }
    #butiknamn{
        margin: auto;
        margin-right: 20%;
    }
    #logga{
        display: none;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Laptop */
@media screen and (min-width: 767px){

}


/* Dator */
